							#* BEGIN: Forecast details won't get displayed until user clicks *#
							<div id="id$forecastContribution.getForecast().getKey()" class="w3-modal">
								<div class="w3-modal-content w3-card-8">
									<div class="w3-container w3-teal contributionDetailsHeader">
										<p onclick="document.getElementById('id$forecastContribution.getForecast().getKey()').style.display='none'" class="w3-closebtn">&times;</p>
										<p>$!forecastContribution.getForecast().getSummary()</p>
									</div>
									<div class="w3-container w3-text-black contributionDetails">
										<p style="display:none"></p> #* solves annoying margin setting by JIRA of first p element *#
										<p style="float:right"><a href="/browse/$forecastContribution.getForecast().getKey()" title="Edit...">&#9998;</a></p>
										<table><tbody>
											<colgroup><col/><col/></colgroup>
											<tr><td class="detailName">Entire Period:</td><td>$yearMonthDayFormatter.format( $forecastContribution.getStartDate() ) - $yearMonthDayFormatter.format( $forecastContribution.getEndDate() ) ($forecastContribution.getDuration().intValue() months)</td></tr>
											<tr><td class="detailName">Total Revenue:</td><td>$decimalFormatter.format( $forecastContribution.getTotalAmount().longValue() )</td></tr> 
											<tr><td class="detailName">Reporter:</td><td>$!forecastContribution.getReporter()</td></tr>
											<tr><td class="detailName">Assignee:</td><td>$!forecastContribution.getAssignee()</td></tr>
											<tr><td class="detailName">Domain:</td><td>$!forecastContribution.getDomain()</td></tr>
											<tr><td class="detailName">Description:</td><td>$!forecastContribution.getForecast().getDescription()</td></tr>
										</tbody></table>
									</div>
									<div class="w3-container w3-teal">
										<p style="text-align:right">Last Updated: $forecastContribution.getLastUpdatedInDaysAgo() days ago</p>
									</div>
								</div>
							</div>
							#* END: Forecast details won't get displayed until user clicks *#
